
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search button{
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;

}
.line{
margin-top: 10px;
margin-left: 30px;
}